@import "bootstrap";

.background {
  background: image_url('vehicle-interior.jpg');
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

.box {
  background: #fff;
  margin-top: 250px;
  padding: 10px;
}

.vehicle-box {
  background: #fff;
  margin-top: 50px;
  padding: 10px;
}

.form {
  -moz-box-shadow: 1px, 1px, 2px 0 #d0d0d0;
  -webkit-box-shadow: 1px 1px 2px 0 #d0d0d0;
  box-shadow: 1px 1px 2px 0 #d0d0d0;
  background: #fff;
  border: 1px solid #ccc;
  border-color: #e4e4e4 #bebebd #e4e4e4;
  margin-top: 10px;
  margin-bottom: 10px;
  padding: 10px;
}

.alert-success {
  color: #3c763d;
  background-color: #dff0d8;
  border-color: #d6e9c6;
}
.alert {
  padding: 15px;
  margin-bottom: 20px;
  border: 1px solid transparent;
  border-radius: 4px;
}

.alert-danger,
.alert-error {
  background-color: #f2dede;
  border-color: #eed3d7;
  color: #b94a48;
}